* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background-color:#d0d4d5;
}

.nav {
    display: flex;
    height: 110px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav .nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav1 img {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.nav1 ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
}

.nav1 ul li i {
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
