* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background-color:#d0d4d5;
}

.nav {
    display: flex;
    height: 110px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

nav .nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav1 img {
    height: 30px;
    width: auto;
    color: #000;
    margin-right: 110px;
    
}

.nav1 ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.nav1 ul li i {
    margin-right: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav2 ul {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.content{
    height: calc(100% - 110px);
    width: 100%;
    position: relative;
    display: flex;
}

.content-left{
    height: 100%;
    width: 40%;
    padding: 80px 100px;
}

.content-left h5 {
    font-size: 20px;
    text-transform: capitalize;
} 

.content-left h1 {
    font-size: 55px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
}

.content-left p{
    font-size: 18px;
    color: #000;
    width: 80%;
    margin-bottom: 30px;
}

.btn{
    background-color: #000;
    color: #fff;
    padding: 14px 30px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 0;
    font-size: 15px;
}

.content-right{
    height: 100%;
    width: 60%;
    padding: 110px 100px;
}

.products1 {
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0px 5px 10px rgba(17, 0, 17, 0.3);
}

.products1 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

.products1 h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    padding-left: 10px;
}
.products1 h4 span {
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    padding-left: 0px;
}

.category{
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    bottom: 22%;
    padding-left: 30px;
    opacity: 0.8;
}

.price{
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: 20%;
    padding-left: 10px;
    font-weight: 500;

}

.products1 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    display: inline-block;
    
}

.products2 {
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0px 5px 10px rgba(17, 0, 17, 0.3);
}

.products2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

.products2 h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    padding-left: 10px;
}
.products2 h4 span {
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    padding-left: 0px;
}

.category{
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    bottom: 22%;
    padding-left: 30px;
    opacity: 0.8;
}

.price{
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: 20%;
    padding-left: 10px;
    font-weight: 500;

}

.products2 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

.products2 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    display: inline-block;
    
}

.products3 {
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0px 5px 10px rgba(17, 0, 17, 0.3);
}

.products3 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

.products3 h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    padding-left: 10px;
}
.products3 h4 span {
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    padding-left: 0px;
}

.category{
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    bottom: 22%;
    padding-left: 30px;
    opacity: 0.8;
}.price{
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: 20%;
    padding-left: 10px;
    font-weight: 500;

}

.products4 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

.products4 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

.products4 {
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0px 5px 10px rgba(17, 0, 17, 0.3);
}

.products4 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

.products4 h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    padding-left: 10px;
}
.products4 h4 span {
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    padding-left: 0px;
}

.category{
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    bottom: 22%;
    padding-left: 30px;
    opacity: 0.8;
}

.price{
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: 20%;
    padding-left: 10px;
    font-weight: 500;

}

.products5 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

.products5 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

.products5 {
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0px 5px 10px rgba(17, 0, 17, 0.3);
}

.products5 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

.products5 h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    padding-left: 10px;
}
.products5 h4 span {
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    padding-left: 0px;
}

.category{
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    bottom: 22%;
    padding-left: 30px;
    opacity: 0.8;
}

.price{
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: 20%;
    padding-left: 10px;
    font-weight: 500;

}

.products6 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

.products6 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

.products6 {
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0px 5px 10px rgba(17, 0, 17, 0.3);
}

.products6 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

.products6 h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    padding-left: 10px;
}
.products6 h4 span {
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    padding-left: 0px;
}

.category{
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    bottom: 22%;
    padding-left: 30px;
    opacity: 0.8;
}

.price{
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: 20%;
    padding-left: 10px;
    font-weight: 500;

}

.products7 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

.products7 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

.products7 {
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    box-shadow: 0px 5px 10px rgba(17, 0, 17, 0.3);
}

.products7 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}

.products7 h4{
    font-size: 18px;
    text-transform: capitalize;
    position: absolute;
    bottom: 28%;
    padding-left: 10px;
}
.products7 h4 span {
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    padding-left: 0px;
}

.category{
    font-size: 15px;
    text-transform: capitalize;
    position: absolute;
    bottom: 22%;
    padding-left: 30px;
    opacity: 0.8;
}

.price{
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    bottom: 20%;
    padding-left: 10px;
    font-weight: 500;

}

.products7 p{

    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
    display: inline;
    position: absolute;
    bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    
}

